*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;

}

body{
    background-color: #E4B4DF;
}

h1{
    text-align: center;
    color: #fff;
    background-color: #16314F;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 150px;
}


div.gallery{
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover{
    border: 1px solid #777;
}
div.gallery img{
    width: 100%;
    height: auto;
    /* height: 500px; */
}


div.desc {
    padding: 15px;
    text-align: center;
  }

  .search_box{
    text-align: center;
    
  }

  /* .search_box input {
    background-color: #16314F;
    color: #fff;
  } */

  input[type = text]{
    background-color: #16314F;
    color: #fff;
    width: 200px;
    height:50px;
    padding: 12px , 2px;
   
  }